numpy==1.23.2
psycopg2==2.9.3
psycopg2-binary==2.9.5
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
pandas

boto3==1.26.27
botocore==1.29.27
jmespath==1.0.1
s3transfer==0.6.0
urllib3==1.26.13

# pip install psycopg2-binary --force-reinstall --no-cache-dir